/* .navbar{
    height: 100px;
    
}

.nav-link{
    color: white;
    
}
.nav-link .h1.strong:hover:hover{
    color: #FF5823;
}
.nav-link strong{
    color: white; 
}
.nav-link strong:hover{
color: #FF5823;
text-decoration: none;
text-transform: uppercase;
touch-action: none;
} */


.nav-link strong:hover{
    color: #FF5823;
    text-decoration: none;
    text-transform: uppercase;
    touch-action: none;
    } 

.colme{
    background-color: rgb(4, 43, 43);
    color: white;
}


.shape{
    text-align: center;
    border-radius: 20px;
}

.mybtn{
    color: aliceblue;
    background-color: white;
    border-radius: 10px;
}