.container{
    width: 100%;
    background-color: white;
    
   
    
}

.textcontent{
    margin-top:100px;
    text-align: center;
    justify-content: center;
    display: flex;
    color: #FF5823;
}
.text-content{
    
    margin-top: 10px;
    text-align: center;
    justify-content: center;
    display: flex;
}
.card-container{
    margin-top: 10px;
    width: 100%;
    height: 230px;
    display: flex;
}
.card{
  margin-left: 7px;
  width: 400px;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .25), 0 3px 10px 5px rgba(0, 0, 0, 0.05) !important;
  text-align: center;
}

.contact-setup{
    margin: 0px;
    padding: 30px;
    justify-content: space-between;
    text-align: center;
    box-shadow: -5px -5px 9px rgba(255, 255, 255,0.45), 5px 5px 9px rgba(94,104,121,0.3);
}

.form-setup{
    
    justify-content: space-between;
    color: #9e9998;
    min-width: 100%; 
    margin-bottom: 50px;
    
}


.card i{
    margin-top: 50px;
    color: #FF5823;
    font-size:40px;
}
.card i{
    margin-top: 50px;
    color: #FF5823;
    font-size:35px;
}
.card i{
    margin-top: 50px;
    color: #FF5823;
    font-size:35px;
}
.phone{
    margin-top: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
}
.number{
    margin-top: 2px;
    display: flex;
    text-align: center;
    justify-content: center;
}
.form-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    background-color: white;
    margin-top: 70px;
    margin-bottom: 90px;
}

.form-group{
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .25), 0 3px 10px 5px rgba(0, 0, 0, 0.05) !important;
    border-radius: 30px;
    display: flex;
   
}


.card5{
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 5px;
    margin-top: 0px;
    margin-left: 0px;
    height: 100px;
    margin-right: 50px;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .25), 0 3px 10px 5px rgba(0, 0, 0, 0.05) !important;
    

}
.form-control{
    height: 40px;
    border-radius: 10px;
    border: 50px;
    
}

.form-control1{
    height: 100px;
    border-radius: 10px;
    border: 50px;
}
.form-group1{
        display: flex;
        height: 160px;
        box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .25), 0 3px 10px 5px rgba(0, 0, 0, 0.05) !important;
        border-radius: 30px;
}


.btn-send{
    padding: 7px;
    width: 150px;
    margin-right: 0px;
    border-radius: 30px;
    margin-top: 20px;
    position: absolute;
    color: #FF5823;
    background-color: aliceblue;
    border: none;
    text-align: center;
    font-weight: 600;
    font-family: sans-serif;
    box-shadow: -2px 20px 30px -10px #000;
    cursor: pointer;
}
.btn-send:hover{
    background-color: white;
    transform: scale(1.07);
    transition: 1s ease-in;
}


