.texts{
    margin-top: 80px;
    text-align: center;
    justify-content: center;
    display: flex;
    color: #FF5823;
}
.text-content{
    margin-top: 0px;
    text-align: center;
    justify-content: center;
    display: flex;
}


.card-text{
    margin-left: 15px;
}


.about-content{
   
    width: 100%;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .25), 0 3px 10px 5px rgba(0, 0, 0, 0.05) !important;
    height: 600px;
    margin-bottom: 20px;
    flex-direction: column;
    
  
}

.profile-options, 
.profile-details-role{
    text-align: center;
}

@media screen and (max-width: 375px){
    .profile-options{
        display: flex;
        justify-content: space-between;
    }
    .profile-details{
        margin: 25px 0 0;
    }
    .profile-options .highlighted-btn{
        margin: 0 !important;
    }
    .profile-options, 
    .profile-details-role{
        text-align: center;
    }
} 